/ × ログインユーザーのfollower_idと対になるfollowed_idを渡す
/ ○ ログインユーザーのfollower_idと紐づいているuser.id(followed_id)の組み合わせのRelationshipモデルのレコードを取得。パラメータとして送る。(localhost:3000/relationships/12)
= link_to relationship_path(current_user.active_relationships.find_by(followed_id: user.id)), class: 'btn btn-warning btn-raised', method: :delete, remote: true do
  | アンフォロー
