<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<h1>Home</h1>
<p>insta_clone</p>
<body>
  <% if logged_in? %>
    <p>ログイン中です。</p>
    <br>
    <%= link_to 'ログアウト', :logout %>
  <% else %>
    <p>
    <%= link_to 'サインアップ', new_user_path %>
    又は、
    <%= link_to 'ログイン', :welcome %>
    して下さい
    </p>
  <% end %>
</body>
